<div [class]="{
  'lg:w-[100%]': steps() === 2,
}" class="w-full lg:w-[75%]  mx-auto bg-[rgba(255,255,255,0.3)] rounded-3xl pb-5">
  <div class="flex flex-wrap flex-col-reverse md:flex-row">

    @if(steps() === 1) {
    <!-- Step 1 Send Email To Get Otp -->
    <div class="w-full lg:w-[50%] px-5">

      <div class="forget__password__content mt-5">
        <h1 class="text-2xl text-center text-main font-semibold mb-5">Forget password</h1>
        <p class="text-body w-[75%]  mx-auto text-center">Lorem ipsum dolor sit amet consectetur. Eu eget tristique quis
          risus
          quam. Aliquam quis amet euismod vitae
          sollicitudin.</p>
      </div>

      <div class="form__content mt-5">

        <div class="mt-5">
          <label for="email" class="text-main ms-1 mb-3 block">Email or Mobile number</label>
          <input type="email" id="email" name="email" [(ngModel)]="email"
            class="w-full p-3 rounded-lg bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">

          @if (isEmailNotValid()) {
          <div class="mt-2">
            <div class="flex p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert">
              <div>
                <ul class="list-disc list-inside">
                  <li>Email not valid</li>
                </ul>
              </div>
            </div>
          </div>
          }

        </div>



        <div class="mt-5">
          <button [disabled]="isCalingApi()" (click)="sentEmailTogGetOtp()"
            class="w-full p-3 rounded-lg bg-primary text-white cursor-pointer">
            @if(isCalingApi()) {

            <i class="pi pi-spin pi-spinner"></i>
            }@else {
            Send

            }
          </button>
        </div>

      </div>

    </div>

    }@else if (steps() === 2) {
    <!-- Step 2 Send Otp -->
    <div class="w-full lg:w-[50%] px-5">

      <div class="forget__password__content mt-5">
        <h1 class="text-2xl text-center text-main font-semibold mb-5">Enter OTP</h1>
        <p class="text-body w-[75%] mx-auto text-center">Please enter the OTP sent to your registered email or mobile
          number.</p>

      </div>

      <div class="form__content mt-5">

        <div class="card flex justify-center">
          <p-inputotp [(ngModel)]="otp" [length]="6" [integerOnly]="true" />
        </div>
        @if (isOtpNotValid()) {
        <div class="mt-2">
          <div class="flex p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <div>
              <ul class="list-disc list-inside">
                <li>OTP field is required.</li>
              </ul>
            </div>
          </div>
        </div>
        }

        <div class="mt-5">
          <button [disabled]="isCalingApi()" (click)="sentOtpToVerify()"
            class="w-full p-3 rounded-lg bg-primary text-white cursor-pointer">
            @if(isCalingApi()) {
            <i class="pi pi-spin pi-spinner"></i>
            }@else {
            Send

            }

          </button>
        </div>

      </div>

    </div>
    }@else if (steps() === 3) {
    <!-- Step 3 Change Password -->
    <div class="w-full lg:w-[50%] px-5">

      <div class="forget__password__content mt-5">
        <h1 class="text-2xl text-center text-main font-semibold mb-5">Set a new password</h1>
        <p class="text-body w-[75%]  mx-auto text-center">Lorem ipsum dolor sit amet consectetur. Eu eget tristique quis
          risus
          quam. Aliquam quis amet euismod vitae
          sollicitudin.</p>
      </div>

      <form [formGroup]="comfirmPasswordForm" (ngSubmit)="comfirmPasswordSubmit()" class="form__content mt-5">

        <div class="mt-3">
          <label for="password" class="text-main ms-1 mb-2 block">password</label>
          <input formControlName="newPassword" type="password" id="password" name="password"
            class="w-full p-3 rounded-lg bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
          @let newPasswordInput = comfirmPasswordForm.get('newPassword');
          @if(newPasswordInput?.errors && newPasswordInput?.touched) {
          <div class="flex p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <div>
              <ul class="list-disc list-inside">
                @if (newPasswordInput?.getError('required')) {

                <li>Password is required.</li>
                }@else if (newPasswordInput?.getError('minlength')) {
                <li>Password must be at least 10 characters long.</li>
                }
                @else if (newPasswordInput?.getError('pattern')) {
                <li>Password must contain at least one uppercase letter, one lowercase letter, one digit, and one
                  special character.</li>
                }
              </ul>
            </div>
          </div>
          }
        </div>

        <div class="mt-5">
          <label for="confirmPassword" class="text-main ms-1 mb-2 block">Comfirm Password</label>
          <input formControlName="confirmPassword" type="password" id="Comfirm Password" name="Comfirm Password"
            class="w-full p-3 rounded-lg bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">

          @let comfirmPasswordInput = comfirmPasswordForm.get('confirmPassword');
          @if(comfirmPasswordInput?.errors && comfirmPasswordInput?.touched) {
          <div class="flex p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <div>
              <ul class="list-disc list-inside">
                @if (comfirmPasswordInput?.getError('required')) {

                <li>Password is required.</li>
                }
              </ul>
            </div>
          </div>
          }
          @if(comfirmPasswordForm?.getError('notMatch') && comfirmPasswordInput?.touched) {
          <div class="flex p-4 mb-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <div>
              <ul class="list-disc list-inside">

                <li>Password is not match</li>
              </ul>
            </div>
          </div>
          }
        </div>

        <div class="mt-5">
          <button class="w-full p-3 rounded-lg bg-primary text-white cursor-pointer">
             @if(isCalingApi()) {
            <i class="pi pi-spin pi-spinner"></i>
            }@else {
            Send

            } </button>
        </div>

      </form>

    </div>
    }





    <div class="w-full lg:w-[50%] px-5 pb-8">

      <div>
        <h2 class="text-[64px] text-[#FFFFFF] font-bold">Welcome back!</h2>
        <p class="text-[#FFFFFF] text-2xl font-medium">Let’s make your dream in reality</p>
      </div>
      <div class="forget__password__image mt-5 ms">
        <img src="images/Auth_images/mainAuthImage.png" alt="Forget Password Image"
          class="w-[300px] h-[300px] mx-auto md:mx-[0px]">
      </div>
    </div>

  </div>

</div>
